/**common properties**/


html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

select:focus {
    outline: none;
}

.burger__input {
    display: none;
}

.burger-menu {
    display: none;
}


.link_and_button {
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-width: 180px;
    padding: 14px 26px;
    background-color: #EBCB80;

    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #3C3C3C;
}


.link_and_button:focus {
    outline: none;

}

.section__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #4B4B4B;
}


.container {
    max-width: 1170px;
    max-width: 117rem;
    margin: 0 auto;
    /*display: inline-block;*/
    text-align: center;
}


/**-----Header-----**/


.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100vh;
    background-image: url("../assets/img/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/**--Nav Menu--**/

.nav-menu {
    background-color: #F6F6F6;
    height: 156px;
    height: 15.6rem;
    display: flex;
    align-items: center;
}


.nav-menu > .container {


}

.nav-logo {
    /*margin-left: 50px;*/
}

.nav-logo__text {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 44px;
    line-height: 4.4rem;
    /* identical to box height */
    color: #7D7D7D;
}

.nav-references {
    display: flex;
    align-items: center;
    margin-left: 290px;
}

.nav-reference-item {
    display: inline-block;
    align-items: center;
    margin-left: 50px;
    /*margin: 65px 25px;*/
    /*margin: 6.5rem 2.5rem;*/
    /*text-decoration: blue;*/
}

.nav-reference-item:first-child {
    margin-left: 0;
}

.nav-reference {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 23px;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #4B4B4B;
}

.social-references {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.social-reference-item {
    display: inline-block;
    margin-left: 43px;
}

.social-reference-item:first-child {
    margin-left: 0;
}

.social-reference {
    font-size: 24px;
    color: #4B4B4B;
}

.burger {
    display: none;
    margin: 16px;

}

.burger:hover {
    cursor: pointer;
}

.burger-unit {
    width: 14px;
    margin-top: 4px;
    background-color: #4B4B4B;
    border: 1px solid #4B4B4B;
}


/**--------------Hero--------------**/

.hero {
    display: flex;

    /*height: 100%;*/
    height: calc(100vh - 156px);
    justify-content: center;
    align-items: center;
}


.hero-content {
    text-align: center;
    color: #4B4B4B;
    /*flex-direction: column;*/
}

.hero__title {
    /*text-align: center;*/

    /*color: #4B4B4B;*/
}

.hero__text {
    /*text-align: center;*/
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /*color: #4B4B4B;*/
    margin-top: 22px;
}

.hero-links {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-link__sing {
    text-transform: uppercase;
}

.hero-link__more {
    margin-left: 18px;
    background-color: transparent;
    border-color: #4B4B4B;
}

/**----------Plan----------**/

.plan {
    padding: 68px 0 116px;
    background-color: #F6F6F6;

}

.plan_content {
    display: block;
    width: 100%;
    /* flex-direction: column; */
}

.plan__title {
    /*padding-top: 68px;*/
    text-align: center;
}


.plan-items {
    /* width: 1000px; */
    margin-top: 52px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.plan__card {
    z-index: 0;
    height: 396px;
    width: 270px;
    border-radius: 8px;
    background-color: burlywood;
    position: relative;

    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    text-align: center;

}

.plan__card:nth-child(n+2) {
    margin-left: 68px;
}

.plan__card-type {
    margin-top: 41px;
    text-transform: uppercase;
    display: block;
    /* text-align: center; */
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    color: #EBCB80;

}

.gold-card .plan__card-type {
    color: #4B4B4B;
}

.plan__card-price {
    margin-top: 30px;
    display: block;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 48px;
    color: white;
}

.plan__card-price::before {
    content: "$ ";
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

.gold-card .plan__card-price {
    color: #4B4B4B;
}

.plan__card-time {
    padding: 15px 0 23px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.gold-card .plan__card-time {
    color: #4B4B4B;
}

.plan__card-description {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
}


.gold-card .plan__card-description {

    color: #4B4B4B;
}

.plan__purchase-link {
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
}

.card-opacity {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.silver-card {
    font-family: Lucida Grande, sans-serif;
    background: #4B4B4B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.silver-card .card-opacity {
    background: linear-gradient(224.09deg, rgba(255, 255, 255, 0.7) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
    background-blend-mode: soft-light;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}

.gold-card {
    background: #EBCB80;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.gold-card .card-opacity {
    border-radius: 8px;

    background: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0.0001) 100%);
    background-blend-mode: soft-light;
}

.platinum-card {
    font-family: Lucida Grande, sans-serif;
    background: #4B4B4B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.platinum-card .card-opacity {
    background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
    background-blend-mode: multiply;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}

.gold-card .link_and_button {
    background-color: #4B4B4B;
    color: white;
}

.gold-card .plan__card-time {
    color: #4B4B4B;
}

.choice_plan__radio {
    display: none;
}

.phone_choice_plan {
    display: none;
}

/**----------Project----------**/

.project {
    text-align: center;
    padding-bottom: 50px;
}


.project__title {
    margin-top: 45px;
}

.phone_project_select {
    display: none;
    margin-top: 22px;
}

.project .container {
    flex-direction: column;
}

.design-choice {
    padding: 0 100px;
    margin-top: 33px;
    display: flex;
    justify-content: space-around;
    /* justify-items: center; */
    /* align-content: ; */
}

.design__radio {
    display: none;
}

.design__label {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

.design__radio:checked + .design__label {
    font-weight: bold;
}


.project-items {
    margin: 40px auto -27px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


.project-card {
    width: 262px;
    height: 262px;
    margin: 0 15px 27px;
    /*margin-top: 27px;*/
    /* background-color: #EBCB80; */
    /* margin-top: 27px; */
    border-radius: 8px 8px 0 0;
}

.project-card__info {
    color: #7D7D7D;
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
}


.project-card__info-item::before {
    position: relative;
    left: -6px;
    /* background-color: aqua; */
}


/**----------Team----------**/


.team {
    display: block;
    background-color: #F6F6F6;
    padding: 56px 0 103px;
}

.team__title {

}

.team-items {
    padding-top: 55px;
    margin-top: -55px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-content: center;
}

.team-card {
    margin-top: 55px;
    margin-left: 30px;
    display: flex;
    font-family: Source Sans Pro, sans-serif;
    color: #4B4B4B;
    flex-basis: 370px;
}

.team-card__img {

}

.team-card__text {
    margin-left: 17px;
    text-align: left;
}

.team-card__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.team-card__position {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.team-card__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
}


/**----------Contact us----------**/


.contact .container {
    min-height: 720px;
}

.contact__title {
    padding-top: 92px;
}

.sub-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.contact-content {
    /*height: 700px;*/
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.get-in-touch {
    text-align: left;
    vertical-align: top;
    max-width: 259px;
}

.touch-content {
    margin-top: 23px;
    display: block;
}

.touch__icon {
    margin-right: 12px;
    line-height: 24px;
}

.phone-icon {
    vertical-align: top;

}

.touch-phones {
    display: inline-block;
}

.phone-number__separator {
    display: none;
}

.form {
    margin: 40px auto 43px;
    width: 420px;
}

.form-label {
    display: block;
    font-size: 18px;
    line-height: 27px;
}


.data {
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
}

.data__item {
    width: 204px;
}

.contact__text-input {
    height: 36px;
}

.input-field {
    width: 100%;
    margin-top: 17px;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    border-radius: 4px;
    resize: none;
}

.input-field::placeholder {
    padding-left: 10px;
}

.message .form-label {
    margin-top: 16px;
}

.message .input-field {
    height: 120px;
}

.form .link_and_button {
    margin: 24px auto;
    text-transform: uppercase;
    padding: 15px 75px;
}

.follow {
    margin-top: 50px;

}

.follow-content {
    margin-top: 30px;
    width: 150px;
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*justify-items: right;*/

    align-content: space-between;
}


.follow .social-reference {
    width: 33%;
    color: #4B4B4B;
}


.contact-window {
    margin: 0 40px;
    /*height: 414px;*/
    width: 536px;
    border: 2px solid #E6E6E6;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}

.credits-and-follow {
    max-width: 263px;
}

.credits__title {

}

.follow__title {


}


/**----------Footer----------**/


.footer {
    background-color: #F6F6F6;
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 43px;
}

.footer-columns {

    display: flex;
    justify-content: space-between;
}

.footer__item {
    flex-basis: 262px;
    text-align: left;
}

.footer__item .sub-title {
    text-transform: uppercase;
}

.footer__item-links {
    border-top: 1px solid #4B4B4B;
    padding-top: 13px;


}

.footer__link:nth-child(n+2) {
    margin-top: 11px;
}

.footer__link a {
    color: #4B4B4B;

}

.footer-bottom {
    margin-top: 43px;
    padding: 43px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #4B4B4B;
}

/**-------------------------------For screen: (1200px-768px)-------------------------------**/


@media (max-width: 1199px) and (min-width: 768px) {


    /**-----common(1200-768)-----**/
    .container {
        max-width: 768px;
    }

    .section__title {
        font-size: 32px;
        line-height: 40px;
    }

    .link_and_button {
        font-size: 11px;
        line-height: 13px;
        min-width: 148px;
        height: 40px;
        padding: 14px 2px;
    }


    /**-----Header(1200-768)-----**/
    .nav-menu {
        height: 105px;
    }


    .nav-logo__text {
        font-size: 2.4rem;
        font-size: 24px;

        line-height: 2.9rem;
        line-height: 29px;
    }

    .nav-references {
        margin-left: 167px;

    }

    .nav-reference-item {
        margin-left: 36px;
    }

    .nav-reference {
        font-size: 12px;
        line-height: 16px;
    }

    .social-references {
        margin-left: 100px;
    }

    .social-reference-item {
        margin-left: 21px;
    }

    .social-reference {
        font-size: 16px;

    }


    /**-----hero(1200-768)-----**/
    .hero__text {
        margin-top: 11px;
        font-size: 11px;
        line-height: 16px;
    }

    .hero-links {
        padding-top: 36px;
        flex-direction: column;
    }

    .hero-link__more {
        margin: 16px 0;
    }


    /**----------Plan(1200-768)----------**/
    .plan {
        /* height: 488px; */
        padding: 56px 0 80px;

    }


    .plan__title {
        /*padding-top: 56px;*/
    }


    .plan-items {
        margin-top: 32px;

    }


    .plan__card:nth-child(n+2) {
        margin-left: 43px;
    }

    .plan__card {
        height: 280px;
        width: 170px;
    }


    .plan__card-type {
        font-size: 12px;
        margin-top: 22px;
        letter-spacing: 1px;
    }

    .plan__card-price {
        font-size: 36px;
        line-height: 28px;
        margin-top: 22px;
        letter-spacing: -1.3px;
    }

    .plan__card-price:before {
        font-size: 11px;
        line-height: 13px;
    }

    .plan__card-time {
        font-size: 12px;
        padding: 0 0 7px;
    }

    .plan__card-description {
        font-size: 11px;
        line-height: 18px;
    }


    .plan__purchase-link {
        margin-top: 16px;
        z-index: 3;
    }

    .plan .link_and_button {
        min-width: 120px;
    }


    /**----------Projects(1200-768)----------**/
    .project {
        /*height: 920px;*/

    }

    .project__title {
        margin-top: 36px;
    }

    .design-choice {
        padding: 0;
        justify-content: space-evenly;
        width: 80%;
        margin: 20px auto 27px;
        font-size: 11px;
    }

    .design__label {
        font-size: 12px;
        line-height: 16px;

    }

    .project-items {
        justify-content: left;
        max-width: 750px;
        margin: 0 auto -32px;
    }

    .project-card {
        width: 220px;
        height: 224px;
        margin: 0 15px 32px;
        /* margin-left: 30px; */
        /*margin: 0 auto;*/
    }

    .project-card__info {
        font-size: 11px;
    }


    /**----------Team(1200-768)----------**/
    .team {
        padding: 44px 0 50px;
    }


    .team__title {
        /*margin-top: 40px;*/
    }

    .team-items {
        padding-top: 23px;
        margin-top: -35px;

        justify-content: space-evenly;
        min-height: 310px;
        align-content: space-between;
    }

    .team-card {
        flex-basis: 282px;
        margin-top: 35px;
    }

    .team-card__img {
        width: 62px;
        height: 62px;
    }

    .team-card__name {
        font-size: 12px;
        line-height: 16px;
    }

    .team-card__position {
        font-size: 11px;
        line-height: 16px;
    }

    .team-card__description {
        font-size: 11px;
        line-height: 16px;
    }


    /**----------Contact us(1200-768)----------**/
    .contact .container {
        min-height: auto;
    }

    .contact .sub-title {
        font-size: 12px;
        line-height: 24px;
    }

    .contact__title {
        padding-top: 40px;
    }

    .contact-content {
        margin-top: 15px;
        font-size: 11px;
        line-height: 16px;
        padding: 0 20px 68px;
        height: 100%;
    }


    .contact-window {
        border: none;
        box-shadow: none;
        order: -1;
        width: 224px;
        height: auto;
    }

    .form {
        width: 100%;
        margin: 0;
    }

    .form-label {
        font-size: 11px;
        line-height: 14px;
    }

    .contact__text-input {
        width: 109px;
        height: 24px;
        margin-top: 6px;
    }

    .form-label {
        margin-top: 14px;
    }

    .input-field {
        margin-top: 3px;
    }

    .input-field::placeholder {
        font-size: 11px;
        line-height: 14px;
        padding-left: 6px;
    }

    .form .link_and_button {
        min-width: 112px;
        height: 25px;
        padding: 0;
        margin: 17px auto 0;
    }

    .get-in-touch {
        flex-basis: 152px;
        /*width: 152px;*/
    }

    .touch-content {
        margin-top: 13px;
    }

    .credits-and-follow {
        flex-basis: 220px;
    }


    .follow {
        margin-top: 11px;
    }

    .follow-content {
        margin-left: -18px;
        margin-top: 9px;
        width: 105px;
        height: 40px;
        justify-content: start;
    }

    .follow-content .social-reference {
        width: auto;
        margin-left: 18px;
        font-size: 13px;
    }

    /**----------Footer(1200-768)----------**/
    .footer {
        font-size: 11px;
        line-height: 16px;
        height: auto;
        padding-top: 28px;
    }

    .footer-columns {

    }

    .footer__item {
        flex-basis: 140px;
    }

    .footer__item-links {
        padding-top: 12px;
    }

    .footer__item .sub-title {
        font-size: 12px;
        line-height: 15px;
    }

    .footer-bottom {
        padding: 36px 0;
        margin-top: 22px;
    }

    .footer-bottom .social-reference {
        font-size: 17px;
    }
}


/* ---------------------------------------(for phone scren<768px )--------------------------------------------- */

@media (max-width: 768px)and (min-width: 320px) {


    /**-----common(<768)-----**/
    .container {
        width: 100%;
        /*width: 320px;*/
        padding: 0 18px;
        /* background-color: tomato ; */
    }


    .section__title {
        font-size: 20px;
        line-height: 24px;
    }

    .link_and_button {
        height: 32px;
        padding: 5px 5px;
        min-width: 130px;
        font-size: 11px;
        line-height: 13px;
    }


    /**-----Header(<768)-----**/
    .header {
        background: linear-gradient(217.09deg, #FFFFFF 0%, #DADADA 100%);
    }

    .nav-menu {
        height: 105px;
    }

    .nav-logo__text {
        font-size: 24px;
        line-height: 29px;
    }

    .nav-references {
        display: none;
    }

    .social-references {
        display: none;
    }

    .nav-menu .container {
        justify-content: space-between;
    }

    .burger {
        display: block;
    }

    .burger__label {
        font-size: 22px;
    }

    .burger-menu {
        display: flex;
        /* display: none; */
        position: fixed;
        top: -120vh;
        z-index: 4;
        flex-direction: column;
        justify-content: space-around;
        /* top: 0; */
        /* bottom: 0; */
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        transition: top 0.4s;

        /* background-color: #F6F6F6; */
        /* transition: all 12s ease-in-out; */
        /* transition: all 12s; */
        overflow: scroll;

    }


    .burger__input:checked + .burger-menu {

        top: 0;
        /* transition: top 12s; */
        background-color: #fff;
    }


    .burger__nav-references {
        font-size: 16px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .burger__nav-reference-item:nth-child(n+2) {
        margin-top: 30px;
    }

    .burger__social-references {
        display: flex;
        margin: 0;
        flex-direction: row;
        justify-content: center;
    }


    .burger__social-reference-item:nth-child(n+2) {
        margin-left: 22px;
    }


    /**------------Hero(<768)------------**/
    .hero {

    }

    .hero__text {
        margin-top: 15px;
        font-size: 11px;
        line-height: 16px;
    }

    .hero-links {
        padding-top: 28px;
        flex-direction: column;
    }

    .hero-link__more {
        margin: 16px 0;
    }

    /**------------Plan(<768)------------**/
    .plan {

        padding: 52px 0 40px;
    }

    .plan_content {
        display: flex;
        flex-direction: column;
    }

    .plan__title {
        /*padding-top: 52px;*/
    }


    .plan-items {

        position: relative;
        margin: 0 auto 90px;
        display: inline-block;
    }


    .plan__card {
        width: 190px;
        height: 248px;
        margin-left: 0;
    }


    .plan__card:nth-child(n+2) {
        margin-left: 0;
    }

    .silver-card {
        position: absolute;

        top: 20px;
        transform: scale(0.842);
        z-index: 2;
    }

    .gold-card {
        /*padding-top: 14px;*/
        top: 50px;
        z-index: 3;
        /*position: relative;*/
    }

    .gold-card .plan__card-type {
        margin: 0;
        padding-top: 14px;
    }

    .platinum-card {
        position: absolute;

        top: 0;
        transform: scale(0.736);
        z-index: 0;
    }

    .plan__card-type {
        font-size: 12px;
        margin-top: 14px;
        letter-spacing: 1px;
    }

    .plan__card-price {
        font-size: 36px;
        line-height: 28px;
        margin-top: 22px;
    }

    .plan__card-price:before {
        font-size: 11px;
        line-height: 13px;
    }

    .plan__card-time {
        font-size: 12px;
        padding: 0;
    }

    .plan__card-description {
        font-size: 11px;
        line-height: 18px;
    }

    .plan__purchase-link {
        margin-top: 16px;
    }

    .plan__card .link_and_button {
        min-width: 140px;
    }


    .phone_choice_plan {
        display: flex;
        margin: 0 auto;
    }

    .phone_choice_plan .link_and_button {
        min-width: 80px;
        font-size: 12px;
        border: none;
        line-height: 16px;
        height: 24px;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        transition: color 0.5s linear 5ms, background-color 0.5s linear 5ms;
    }

    .silver-radio {

        /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);*/
    }

    .gold-radio {

    }

    .silver-radio:checked + .link_and_button {
        background-color: #4B4B4B;
        color: white;

    }

    .phone_choice_plan .card-opacity {
        border-radius: 50px;
        z-index: 1;
    }

    .phone_choice_plan label {
        z-index: 2;
    }

    .silver-radio:checked + .link_and_button .card-opacity {
        background: linear-gradient(224.09deg, rgba(255, 255, 255, 0.7) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
        background-blend-mode: soft-light;
    }

    .gold-radio:checked + .link_and_button {
        background-color: #EBCB80;
    }

    .gold-radio:checked + .link_and_button .card-opacity {
        background: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0.0001) 100%);
        background-blend-mode: soft-light;
    }


    .platinum-radio:checked + .link_and_button {
        background-color: #4B4B4B;
        color: white;
    }

    .platinum-radio:checked + .link_and_button .card-opacity {
        background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
        background-blend-mode: multiply;
    }


    /**------------Project(<768)------------**/
    .project {

        padding-bottom: 30px;
    }

    .project .container {


    }

    .project__title {
        margin-top: 38px;
    }

    .design-choice {
        display: none;
    }

    .phone_project_select {
        padding-left: 10px;
        display: inline;
        border: 1px solid #4B4B4B;
        border-radius: 48px;
        min-width: 142px;
        height: 24px;
        font-family: Source Sans Pro, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #4B4B4B;
        text-align: center;
    }


    .project-items {
        margin: 16px auto -13px;
        max-width: 300px;
        justify-content: left;
    }

    .project-card {
        width: 140px;
        height: 107px;
        margin: 0 5px 13px;
    }

    .project-card__info {
        display: none;
    }


    .project-card img {
        border-radius: 4px;
    }


    /**------------Team(<768)------------**/
    .team {
        padding: 50px 0 70px;
    }


    .team-items {
        padding-top: 18px;
        margin-top: -36px;
        flex-direction: column;
        justify-content: space-between;
    }

    .team-card {
        margin-top: 36px;
        width: 270px;
        flex-basis: auto;
    }

    .team-card:nth-child(n+2) {
        margin-top: 37px;
    }

    .team-card__img {
        width: 48px;
        height: 48px;
    }

    .team-card__name {
        font-size: 12px;
        line-height: 16px;
    }

    .team-card__position {
        font-size: 11px;
        line-height: 16px;
    }

    .team-card__description {
        margin-top: 9px;
        font-size: 11px;
        line-height: 16px;
    }


    /**------------Contact us(<768)------------**/
    .contact__title {
        padding-top: 55px;
    }

    .contact-content {
        flex-direction: column;
        margin-top: 40px;
        padding: 0 25px;
    }

    .contact-window {
        border: none;
        box-shadow: none;
        width: 100%;
        margin: 0;
        order: -1;
        height: auto;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 224px;
    }

    .data {
    }

    .message {

    }

    .form-label {
        font-size: 11px;
        line-height: 14px;
    }

    .input-field {
        width: 224px;
        height: 63px;
        font-size: 11px;
        line-height: 14px;
    }

    .contact__text-input {
        width: 108px;
        height: 24px;
    }

    .input-field {

    }

    .contact .link_and_button {
        padding: 0;
        min-width: 112px;
        height: 25px;
        margin: 16px auto;
    }

    .get-in-touch {
        margin-top: 40px;
        width: auto;
    }

    .sub-title {
        font-size: 12px;
        line-height: 24px;
    }

    .touch-content {
        font-size: 11px;
        line-height: 16px;
        margin-top: 11px;
    }

    .touch__icon {
        font-size: 11px;

    }

    .phone-icon::before {
        position: relative;
        top: -2px;
    }

    .touch__phone {
        display: inline-block;
    }

    .phone-number__separator {
        display: inline;
    }

    .credits-and-follow {
        max-width: none;
    }

    .credits {
        margin-top: 27px;
    }

    .follow {
        margin-top: 11px;
        width: auto;
    }

    .follow-content {
        width: 100%;
        height: auto;
        margin: 10px 0 30px;
        justify-content: start;
    }

    .follow-content .social-reference {
        width: 10%;
        font-size: 13px;
    }


    /**------------Footer(<768)------------**/
    .footer {
        font-size: 11px;
        height: auto;
        line-height: 13px;
        padding-top: 28px;
    }

    .footer-columns {
        margin-top: -30px;
        flex-wrap: wrap;
    }

    .footer__item {
        flex-basis:auto;
        width: 50%;
        margin-top: 30px;
    }

    .footer__item-links {
        width: 80%;
    }

    .footer-bottom {
        padding: 0;
        margin-top: 30px;
        flex-direction: column;
    }

    .footer-bottom .social-references {
        order: -1;
        margin: 24px 0 28px;
        display: inline;
        justify-content: center;
    }

    .footer-bottom .social-reference {
        font-size: 21px;
    }

    .footer-bottom .copyright {
        margin-bottom: 28px;
    }
}