/**common properties**/

html {
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.link_and_button {
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-width: 180px;
    padding: 15px 26px;
    background-color: burlywood;

    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #3C3C3C;
}


.link_and_button:hover {
    background-color: darkred;
}
.section__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #4B4B4B;
}

.header {
    height: 100vh;
    background-image: url("../assets/img/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1170px;
    max-width: 117rem;
    margin: 0 auto;
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/**-----Header-----**/

/**--Nav Menu--**/

.nav-menu {
    background-color: #F6F6F6;
    height: 156px;
    height: 15.6rem;
    display: flex;
    align-items: center;
}

.nav-menu > .container {


}

.nav-logo {
    /*margin-left: 50px;*/
}

.nav-logo__text {
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 44px;
    line-height: 4.4rem;
    /* identical to box height */
    color: #7D7D7D;
}


.nav-references {
    display: flex;
    align-items: center;
    margin-left: 290px;
}


.nav-reference-item {
    display: inline-block;
    align-items: center;
    margin-left: 50px;
    /*margin: 65px 25px;*/
    /*margin: 6.5rem 2.5rem;*/
    /*text-decoration: blue;*/
}

.nav-reference-item:first-child {
    margin-left: 0;
}

.nav-reference {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 23px;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: #4B4B4B;
}

.social-references {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.social-reference-item {
    display: inline-block;
    margin-left: 43px;
}

.social-reference-item:first-child {
    margin-left: 0;
}

.social-reference {
    font-size: 24px;
    color: #4B4B4B;
}


/**--Hero--**/

.hero {
    display: flex;

    /*height: 100%;*/
    height: calc(100vh - 156px);
    justify-content: center;
    align-items: center;
}


.hero-content {
    text-align: center;
    color: #4B4B4B;
    /*flex-direction: column;*/
}


.hero__title {
    /*text-align: center;*/

    /*color: #4B4B4B;*/
}

.hero__text {
    /*text-align: center;*/
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /*color: #4B4B4B;*/
    margin-top: 22px;
}

.hero-links {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-link__sing {
    text-transform: uppercase;
}

.hero-link__more {
    margin-left: 18px;
    background-color: transparent;
    border-color: #4B4B4B;
}

/**-----Plan-----**/

.plan {
    height: 680px;
    background-color: #F6F6F6;
}

.plan .container{
    flex-direction: column;
}

.plan__title{
    padding-top: 68px;

}


.plan-items{
    max-width: 946px;
    margin-top: 52px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.plan__card{
    height: 396px;
    width: 270px;
    border-radius: 8px;
    background-color: burlywood;
}